body {
    background-color: #597aed;
}

.p {
    background-color: black;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 190px;
    top: 30px;
}
.zz{
    position:absolute ;
    top:500px;
    left:150px;
    background:url("color.jpg") center;
    border-radius:5px;
    background-size:cover;
    background-clip:text;
  
    color:transparent;
}

.o {
    background-color: rgb(46, 56, 56);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 285px;
    top: 40px;
}

.i {
    background-color: #ae0cdf;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -30px;
}

.u {
    background-color: #ae0cdf;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 50px;
}

.y {
    background-color: #ae0cdf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
}

.box {
    background-color: #1faf92;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 370px;
    top: -30px;
}
.box:hover {
  transform: scale(1.2); /* يزيد حجم العنصر بنسبة 20% */
}

.r {
    background-color: #1faf92;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 410px;
    top: 120px;
}

.e {
    background-color: rgb(13, 24, 180);
    height: 100px;
    width: 100px;
    border-radius: 30px;
    position: absolute;
    top: 300px;
}

.w {
    background-color: rgb(13, 24, 180);
    height: 100px;
    width: 100px;
    border-radius: 30px;
    position: absolute;
    top: 300px;
    left: 140px;
}

.q {
    background-color: rgb(13, 24, 180);
    height: 100px;
    width: 100px;
    border-radius: 30px;
    position: absolute;
    top: 300px;
    left: 270px;
}

.l {
    background-color: rgb(13, 24, 180);
    height: 100px;
    width: 100px;
    border-radius: 30px;
    position: absolute;
    top: 300px;
    left: 390px;
}

h1 {
    color: black;
    position: absolute;
    top: 30px;
}

.po {
    position: absolute;
    top: 140px;
    left: 68px;
}

.pi {
    color: rgb(13, 24, 180);
    left: 200px;
    top: 140px;
    font-family: serif;
    font-style: italic;
}

button {
    position: absolute;
    top: 200px;
    left: 230px;
    background-color: black;
    color: antiquewhite;
    border-radius: 30px;
}
#fade{
    position: absolute;
    top: 220px;
    left: 170px;
    border-radius:50px ;
    
}
select{position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 30px;
}



